.ParticipantView {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  position: relative;
  flex-wrap: wrap;
  background-color: #8fcff2;
  border-radius: 1rem;
}
.CameraPlayer {
  display: flex;
}
.pinButton {
  position: absolute;
  left: 0;
  top: 0;
}
.displayName {
  position: absolute;
  bottom: 0;
  right: 0;
}
