.ParticipantView {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  position: relative;
  flex-wrap: wrap;
  background-color: #8fcff2;
  border-radius: 1rem;
}
.CameraPlayer {
  display: flex;
}
.pinButton {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 0.75rem;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #e60023;
  cursor: pointer;
  z-index: 500;
}
.indicator {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 86px;
  top: 10px;
  right: 10px;
  z-index: 500;
}
.micCamIndicator {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  border-radius: 50%;
}
.displayName {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  background-color: black;
  color: white;
  font-weight: bold;
  z-index: 500;
}
