.FeatureBackground{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  overflow-y: auto;
  border: 2px solid #92979B;
}
.DisplayStopContainer {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.timelineData {
  flex-shrink: 0;
}
.DisplayTimelineHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.timelineSelect {
  width: 120px;
  margin-left: 1rem;
}
.DisplayParticipantTimeline {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.--thisStop {
  color: red;
  font-weight: bold;
}
