.Controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 228px;
  z-index: 500;
}
.Controls > button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: black;
  color: white;
  font-size: 1.25rem;
}
