
.VoiceRecorderPortalForm {
  width: 60%;
  padding: 3rem;
  background: rgb(242, 112, 156);
  background: linear-gradient(
    90deg,
    rgba(242, 112, 156, 1) 0%,
    rgba(255, 148, 114, 1) 100%
  );
  border-radius: 3rem;
  height: 650px;
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
.VoiceRecorderPortalFormInner {
  background: white;
  border-radius: 1.5rem;
  padding: 2rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.VoiceRecorderPortalFormProgressBarContainer {
  width: 100%;
  background-color: #dfdedd;
  height: 7.5px;

  border-radius: 1rem;
}
.VoiceRecorderPortalFormProgressBar {
  border-radius: inherit;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  height: inherit;
  transition: width 0.75s ease;
}
.VoiceRecorderPortalFormHeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
.VoiceRecorderPortalFormHeader {
  flex: 1;
  margin: 0rem 3rem;
}
.VoiceRecorderPortalFormHeader > h1 {
  font-size: 1.75rem;
}
.VoiceRecorderPortalLottieAnimation {
  width: 70px;
}
.VoiceRecorderPortalFormButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.VoiceRecorderPortalFormContent {
  height: 100%;
}
