.Share {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: first baseline;
}
.ShareContainer {
  padding: 2rem;
  padding-left: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}
/* .DownloadButton {
  margin: 0.75rem 0rem;
  padding: 1rem;
  font-size: 1rem;
  color: white;
  background-color: black;
  border-radius: 0.5rem;
} */
.ShareVoilaButton {
  margin: 0.75rem 0rem;
  padding: 1rem;
  background: rgb(0, 195, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 195, 255, 1) 0%,
    rgba(255, 255, 28, 1) 100%
  );
  font-size: 1rem;
}
.ShareMedia {
  display: flex;
  flex-direction: row;
}
.MediaButton {
  margin: 1rem 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
}
.--instagram {
  background: rgb(249, 206, 52);
  background: linear-gradient(
    90deg,
    rgba(249, 206, 52, 1) 0%,
    rgba(238, 42, 123, 1) 50%,
    rgba(98, 40, 215, 1) 100%
  );
  color: white;
}
.--shareContainer {
  width: 60%;
  border-left: 2px solid lightsalmon;
  padding-right: 0rem;
}
