@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap");

body{
  overflow-x: hidden;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  min-width: 0;
}
:root {
  --h1: 1.125rem;
  --h2: 0.875rem;
  --h3: 1.625rem;
  --p: 0.875rem;
  --borderColor: #e7e7e9;
}
