.HeroGlobeAndWorldMapContainer {
  position: relative;
}
.HeroGlobeWorldMap {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.HeroGlobe {
  z-index: 10;
  position: relative;
}
