.GoalBoxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--borderColor);
  border-radius: 1rem;
  width: 166px;
  height: 166px;
  padding: 0.5rem;
}
.GoalBoxContainer > h3 {
  margin-bottom: 0.75rem;
}

/* .GoalBoxContent {
  background-color: white;
} */
